<form name="login" action="$(link-login-only)" method="post" $(if chap-id) onSubmit="return doLogin()" $(endif)>
	<input type="hidden" name="dst" value="$(link-orig)" />
	<input type="hidden" name="popup" value="true" />
	<div class="s-login text-center">
		<div class="justify-content-center d-flex  d-lg-none d-md-none d-block">
			<div class="logo row"></div>
		</div>
		<h3>Iniciar sesión</h3>
		<p>Por favor ingrese su usuario y contraseña.</p>
		$(if error)
		<div class="alert alert-danger">
			<strong>Error!</strong> $(error).
		</div>
		$(endif)
		<div class="form-group">
			<input type="text" name="username" class="username form-control" value="$(username)" placeholder="Username" />
		</div>
		<div class="form-group">
			<input type="password" name="password" class="password form-control" placeholder="Password"/>
		</div>
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary btn-block">Iniciar sesión
		</button>
	</div>
	<p class="text-center">
		$(if trial == 'yes')
		<a href="$(link-login-only)?dst=$(link-orig-esc)&amp;username=T-$(mac-esc)" class="btn col btn-logout text-space">PRUEBA GRATIS</a>
		$(endif)
		$(if trial == 'no')
		<a href="/pagos.html" class="btn col btn-logout text-space">OBTEN ACCESO</a>
		$(endif)
		<br>
		<small>3D Wifi Cyber &copy; 2020 FrostByte Corp
		<br>Puerto Piritu, Anzoategui 0414-8176793</small>
	</p>
</form>
