doctype html
html(lang='es')
	head
		meta(charset='utf-8')
		meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
		meta(http-equiv='pragma' content='no-cache')
		meta(http-equiv='expires' content='-1')
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		title 3D Wifi Cyber
		link(rel='shortcut icon' type='image/png' href='favicon.png')
		link(href='assets/fonts/font-awesome/font-awesome.css' rel='stylesheet' type='text/css')
		link(href='assets/fonts/maven-pro/maven-pro.css' rel='stylesheet' type='text/css')
		link(rel='stylesheet' type='text/css' media='all' href='assets/css/animate.css')
		link(rel='stylesheet' type='text/css' media='all' href='assets/packages/bootstrap/bootstrap.css')
		link(rel='stylesheet' type='text/css' media='all' href='assets/packages/aos/aos.css')
		link(rel='stylesheet' type='text/css' media='all' href='assets/css/theme.css')
		block head
	body(style="min-height: 100vh; height: auto; overflow: visible;").px-lg-3
		block content
	script(type='text/javascript' src='assets/js/jquery.js')
	script(type='text/javascript' src='assets/js/waypoint.js')
	script(type='text/javascript' src='assets/packages/bootstrap/libraries/popper.js')
	script(type='text/javascript' src='assets/packages/bootstrap/bootstrap.js')
	script(type='text/javascript' src='assets/packages/aos/aos.js')
	script(type='text/javascript' src='assets/js/theme.js')
	block scripts
