$(if advert-pending == 'yes')
	onLoad="openAdvert()"
$(endif)
<div class="container">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-8 text-center" data-aos="zoom-in">
			<div class="box-white">
				<div class="logo-black">
	                <a  class="text-center d-block mb-3">
	                    <img src="assets/img/logo.svg" alt="Circle Creative" />
	                </a>
	            </div>
	            <div class="row">
	            	<div class="col-md-12 text-center">
	                	$(if error)
			                <div class="alert alert-danger">$(error)</div>
			            $(endif)

			            $(if login-by == 'trial')
			                <p>Bienvenido invitado de honor!</p>
			            $(elif login-by != 'mac')
			                <p>Bienvenido <strong>$(username)!</strong></p>
			            $(endif)
			        </div>
	            </div>
	            <form action="$(link-logout)" name="logout" onSubmit="return openLogout()">
		            <div class="table-responsive">
			            <table class="table table-striped">
			                <tbody>
				                <tr>
				                    <td>Direccion IP:</td>
				                    <td>$(ip)</td>
				                </tr>
				                <tr>
				                    <td>bytes subida/bajada</td>
				                    <td>$(bytes-in-nice) / $(bytes-out-nice)</td>
				                </tr>
				                $(if session-time-left)
				                <tr>
				                    <td>conectado desde / tiempo restante:</td>
				                    <td>$(uptime) / $(session-time-left)</td>
				                </tr>
				                $(else)
				                <tr>
				                    <td>conectado desde:</td>
				                    <td>$(uptime)</td>
				                </tr>
				                $(endif)
				                $(if blocked == 'yes')
								<tr>
									<td>estado:</td>
									<td>
										<a href="$(link-advert)" target="hotspot_advert">anuncio</a> requerido
									</td>
								</tr>
								$(elif refresh-timeout)
								<tr>
									<td>actualización de estado:</td>
									<td>$(refresh-timeout)</td>
								</tr>
								$(endif)
			                </tbody>
			            </table>
			        </div>
		            $(if login-by-mac != 'yes')
		            <div class="col-md-12">
		            	<input class="btn btn-primary btn-block" type="submit" value="Desconectarse">
		            </div>
		            $(endif)
		        </form>
			</div>
		</div>
	</div>
</div>
